{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Hello</h1>
    {% else %}
    <div class="col-md-6 offset-md-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                     {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <h1>Login</h1>
        <br>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" required class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" required class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endif %}
{% endblock %}